@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.scrollbar-thin-x {
  scrollbar-width: thin; /* Firefox */
}
.scrollbar-thin-x::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin-x::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219); /* tailwind gray-300 */
  border-radius: 9999px;
}
